.sidenav1 {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav2 {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #525252;
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 160px;
}

.sidenav1 a,
.sidenav2 a {
  padding: 6px 8px 6px 16px;
  /*up right down left , clockwise, starts from top 12pm */
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav1 a,
.sidenav2 a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 320px;
  /* padding: 6px 0px; */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav {
    font-size: 18px;
  }
}
